---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

$text-color:       #444;
$background-color: #fefefe;
$brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

a.title {
	color: inherit; 
}

a.title:hover {
	color: inherit;
	cursor: pointer;
	text-decoration: none; 
}

body {
	background-color: $background-color !important;
	color: $text-color !important;
}

.content {
	font-size: 1.1em;
}
ul { 
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
	list-style:none; 
}

.fa {
	font-size: 1.3em !important;
}

.sidebar {
}