<!DOCTYPE html>
<html>
<head>
	<title>Noah Moroze</title>
    <link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>	
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="sidebar">
					<img src="/images/profile.jpg" class="img-circle">
					<h2><a href="/"  class="title"> {{ site.title }} </a></h2>
					<i class="fa fa-envelope-square" aria-hidden="true"></i> <a href="mailto:noah@moroze.io">noah@moroze.io</a><br>
					<i class="fa fa-github-square" aria-hidden="true"></i> <a href="https://github.com/nmoroze">@nmoroze</a><br>
					<i class="fa fa-twitter-square" aria-hidden="true"></i> <a href="https://twitter.com/noahmoroze">@noahmoroze</a><br>

					<a href="/archive">archive</a> | <a href="/about">about</a> | <a href="/projects">projects</a>
					<p></p>
					<h3>Recent</h3><!--<a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss-square" aria-hidden="true"></i></a>-->
					<ul>
						{% for post in site.posts limit:5 %}
							<li><a href="{{ post.url }}">{{ post.title }}</a><span class="date"> ({{ post.date | date: "%b %e" }})</span></li>	
						{% endfor %}	
					</ul>
				</div>
			</div>
			<div class="content col-md-10">
		    	{{ content }}
		    </div>
		</div>
    </div>
<!--     <footer>
    	Copyright Noah Moroze. 
    </footer>
 --></body>
</html>